.judul {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 150px 0 0 0;
    font-size: 24px;
}

.container-forgot span {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    margin-top: -30px;
}

/* form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 100px 50px 0 50px;

} */

/* form input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 100px;
    border: 1px solid #000000;
    border-radius: 20px;
    font-size: 30px;
    padding: 0 0 0 24px;
} */

form input .placeholde{
    font-size: 30px;
}

button {
    width: 253px;
    height: 100px;
    border-radius: 20px;
    background-color: #FFBA33;
    border: none;
    font-size: 30px;
    font-weight: 700;
}

button:hover {
    background-color: #6A4029;
    color: white;
}

h3 {
    text-align: center;
    padding: 100px 0 0 0;
    font-size: 24px;
}

.btn-resend-link {
    display: flex;
    justify-content: center;
}

.resend-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 554px;
    height: 100px;
    border-radius: 20px;
    background-color: #6A4029;
    color: white;
    font-weight: 700;
    font-size: 30px;
    border: none;
}

.resend-link:hover {
    background-color: #FFBA33;
    color: #6A4029;
}

.time {
    display: ;
    justify-content: center;
    padding: 50px 0 0 0;
}